@using ClassLibrarySeminarski.Model;
@using Microsoft.EntityFrameworkCore;
@using OnlineFitnessShop.ViewModels.AdministratorVMs;
@{
    ViewData["Title"] = "GetDobavljaceOdjece";
}
@model OnlineFitnessShop.ViewModels.AdministratorVMs.PrikazDobavljacaVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prikaz dobavljača</title>
</head>
<body>
    <div class="tabela">

        <table class="table table-hover table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <th>Naziv</th>
                    <th>Broj telefona</th>
                    <th>e-mail adresa</th>
                    <th>Grad</th>
                    <th>Adresa</th>
                    <th>Kategorija</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.dobavljaci)
                {
                    <tr>
                        <td>
                            @x.Naziv
                        </td>
                        <td>
                            @x.BrojTelefona
                        </td>
                        <td>
                            @x.Email
                        <td>
                            @x.Grad
                        </td>
                        <td>
                            @x.Adresa
                        </td>
                        <td>
                            @x.DobavljacKategorija
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>

