@using ClassLibrarySeminarski.Model;
@using Microsoft.EntityFrameworkCore;
@{

    //var dobavljaci = (List<Dobavljac>)ViewData["Dobavljaci"];
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model OnlineFitnessShop.ViewModels.SuplementacijaPrikazVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prikaz suplementacije</title>
</head>
<body>
    <div class="tabela">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Slika</th>
                    <th>Naziv</th>
                    <th>Cijena</th>
                    <th>Kategorija</th>
                    <th>Brend</th>
                    <th>Tezina(kg)</th>
                    <th>Kolicina</th>
                    <th>Akcija</th>



                </tr>
            </thead>
            <tbody>
                @foreach (var x in @Model.podaciSuplement)
                {
                    <tr>

                        <td>
                            <img src="/images/@x.ImageUrl" width="50px" height="50px" />
                        </td>
                        <td>
                            @x.Naziv
                        </td>
                        <td>
                            @x.Cijena
                        <td>
                            @x.kategorijaSuplementacije
                        </td>
                        <td>
                            @x.Brend
                        </td>
                        <td>
                            @x.Tezina
                        </td>
                        <td>
                            @x.kolicina
                        </td>
                        @*<td><a href="/Administrator/Uredi?dobavljacid=@x.DobavljacID"><input type="button" class="btn btn-warning" value="Uredi" /></a></td>*@
                        <td>
                            <a href="/Administrator/UrediSuplement?id=@x.SuplementacijaID" class="btn btn-info btn-sm "><span class="glyphicon glyphicon-pencil"></span>Uredi</a>
                            <a href="/Administrator/ObrisiSuplement?id=@x.SuplementacijaID" class="btn btn-danger btn-sm "><span class="glyphicon glyphicon-remove-circle"></span>Obrisi</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="/Administrator/DodajSuplementaciju" class="btn btn-success">Dodaj novu suplementaciju</a>
    </div>
</body>
</html>
