@using ClassLibrarySeminarski.Model;
@using Microsoft.EntityFrameworkCore;
@{

    int brojac = 0;
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model OnlineFitnessShop.ViewModels.AdministratorVMs.ObucaPrikazVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prikaz obuće</title>
    <script src="~/js/Administrator/ProizvodiFilteri.js"></script>
</head>
<body>
    <div class="container" id="cont1">
        <p class="pClass">
            Filter za spol:
        </p>
        <label class="radio-inline">
            <input lass="option-input radio" id="rd1" type="radio" name="optradio" onclick="filterMuški()">Muškarci
        </label>
        <label class="radio-inline">
            <input lass="option-input radio" id="rd2" type="radio" name="optradio" onclick="filterŽenski()">Žene
        </label>
        <label class="radio-inline">
            <input lass="option-input radio" id="rd1" type="radio" name="optradio" onclick="filterSvi()" checked>Svi proizvodi
        </label>

    </div>
    <div class="proizvodi">
        <div class="tabela">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Slika</th>
                        <th>Naziv</th>
                        <th>Cijena</th>
                        <th>Spol</th>
                        <th>Brend</th>
                        <th>Akcija</th>



                    </tr>
                </thead>
                <tbody id="b-id">
                    @foreach (var x in @Model.podaciObuca)
                    {
                        <tr id="red-@brojac">

                            <td>
                                <img src="/images/@x.imageUrl" width="50px" height="50px" />
                            </td>
                            <td>
                                @x.Naziv
                            </td>
                            <td>
                                @x.Cijena
                            <td class="spol">
                                @x.Spol
                            </td>
                            <td>
                                @x.Brend
                            </td>

                            @*<td><a href="/Administrator/Uredi?dobavljacid=@x.DobavljacID"><input type="button" class="btn btn-warning" value="Uredi" /></a></td>*@
                            <td>
                                <a href="/AdministratorProizvod/UrediObucu?ObucaID=@x.ObucaID" class="btn btn-info btn-sm "><span class="glyphicon glyphicon-pencil"></span>Uredi</a>
                                <a href="/AdministratorProizvod/ObrisiObucu?ObucaID=@x.ObucaID" class="btn btn-danger btn-sm "><span class="glyphicon glyphicon-remove-circle"></span>Obrisi</a>
                                <a href="/AdministratorProizvod/PrikazVelicinaZaObucu?ObucaID=@x.ObucaID" class="btn btn-info btn-sm "><span class="glyphicon glyphicon-list-alt"></span>Upravljanje veličinama</a>
                                <a href="/AdministratorProizvod/PrikazKomentaraZaProizvod?id=@x.ProizvodID" class="btn btn-info btn-sm "><span class="glyphicon glyphicon-search"></span>Prikaži komentare</a>
                            </td>
                        </tr>
                        brojac = brojac + 1;
                    }
                </tbody>
            </table>

            <a href="/AdministratorProizvod/DodajObucu" class="btn btn-success">Dodaj novu obuću</a>
        </div>
    </div>
</body>
</html>
